<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student mark calculation</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div>
				<h1>Student Mark Calculation</h1>
			</div>
			
			<form th:action="@{result}" th:object="${student}" method="post">
			
			<div>
				<label>Test 1 Marks</label>
				<input type="text" id="test1_mark" class="form-control" name="test1_mark">
			</div>
			
			<div>
				<label>Test 2 Marks</label>
				<input type="text" id="test2_mark" class="form-control" name="test2_mark">
			</div>
			
			<div>
				<label>Test 3 Marks</label>
				<input type="text" id="test3_mark" class="form-control" name="test3_mark">
			</div>
			
			<br>
			<div>
				<input type="submit" value="submit">
			</div>
		
		
		
		</div>
	
	
	
	</div>

</body>
</html>